body{
  background-image: url('https://img.freepik.com/free-vector/abstract-background-with-wavy-colorful-shape_23-2148502140.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699228800&semt=ais');
}
.App .content{
  display: flex;
}
.header{
  display: flex;
  flex-direction: column;
  height: 100px;
}

.header h1{
  text-align: center;
  background-color: orange;
  font-size: 40px;
  font-weight: 800;
  margin-top: 2px;
  border-radius: 1px;
  padding: 5px;
  color: oldlace;
  letter-spacing: 2px;
  line-height: 1.5;
}

.header .search-box{
  display: flex;
  justify-content: center;
}

.search-button{
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.songs{
  margin: 70px 20px 10px 10px;
  background-color: skyblue;
  width:40%;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  min-height: 500px;
}
.songs h1{
  color: white;
  text-align: center;
}

.songs-list{
  color: white;
  height: 90%;
}

ul{
  list-style-type: none;
}

.songs .songs-list ul li .song-name{
  font-size: 20px;
  font-weight: bold;
}

.songs .songs-list ul li .song-info
{
  display: block;
  font-size: 10px;
}

.songs .songs-list ul li .song-info .album{
  margin-left: 10px;
}

.playlist{
  margin-top: 70px;
  margin-left: 240px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: skyblue;
  width: 45%;
  border-radius: 10px;

}

.playlist h1{
  color: white;
  text-align: center;
}
.playlist .my_song{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.playlist .my_song span{
  margin-left: 15px;
}

.playlist button{
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.playlist h1{
  text-align: center;
}

.playlist p span{
  display: block;
}
.content-button{
  display: flex;
  justify-content:space-between;
}

.content-button button{
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}