body {
  background-color: lightskyblue;
}

.songs {
  position: absolute;
  left: 0px;
  background-color: green;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  background-color: white;
  height: 300px;
  width: 300px;
}

.playlist p {
  text-align: right;
}